<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mage Addt</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="backLink">
            <a href="mageDB.html">Back</a>
        </div>
        <table class="standard">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
               <td>
                    <label for="id">ID</label>
                    <input id="id" type="text">
               </td> 
               <td>
                    <label for="name">Magician name</label>
                    <input type="text" id="name">
               </td>
            </tr>
            <tr>
                <td>
                    <label for="license">License</label>
                    <input type="text" id="license">
                </td>
                <td>
                    <label for="licenseDate">License date</label>
                    <input type="text" id="licenseDate">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="magicSpec">Magic Specialization</label>
                    <input type="text" id="magicSpec">
                </td>
                <td>
                    <label for="gender">Gender</label>
                    <input type="text" id="gender">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="birthDate">Birth date</label>
                    <input type="text" id="birthDate">
                </td>
                <td>
                    <label for="age">Age</label>
                    <input type="text" id="age">
                </td>
            </tr>
        </table>

        <button class="standard"><a href="mageDB.html">submit</a></button>
    </div>
</body>
</html>