<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magician Site</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="links">
            <a href="detailedSearch.html">Detailed Search</a> <br class="positioning">
            <a href="bookDB.html">Book DB</a> <br class="positioning">
            <a href="mageDB.html">Mage DB</a>        
        </div>
        <input class="standard" type="text" placeholder="Search for book">
            <table class="standard bordered">
                <tr>
                    <th class="bordered">ID</th>
                    <th class="bordered">Magician ID</th>
                    <th class="bordered">Magician Name</th>
                    <th class="bordered">Title</th>
                    <th class="bordered">Council Approvement</th>
                    <th class="bordered">Publish Date</th>
                    <th class="bordered">Price</th>
                    <th class="bordered">Magic Type</th>
                </tr>
                <tr>
                    <td class="bordered">1</td>
                    <td class="bordered">1</td>
                    <td class="bordered">Kanye West The Wise</td>
                    <td class="bordered">The truth about the magical council</td>
                    <td class="bordered">Not Approved</td>
                    <td class="bordered">2022.12.01</td>
                    <td class="bordered">0000</td>
                    <td class="bordered">Other</td>
                </tr>
            </table>

        <input class="standard" type="text" placeholder="Search for magician">

        <table class="standard bordered">
            <tr>
                <th class="bordered">ID</th>
                <th class="bordered">Magician Name</th>
                <th class="bordered">Magic License</th>
                <th class="bordered">License Date</th>
                <th class="bordered">Magic Specialization</th>
                <th class="bordered">Gender</th>
                <th class="bordered">Birth Date</th>
                <th class="bordered">Age</th>
            </tr>
            <tr>
                <td class="bordered">1</td>
                <td class="bordered">Kanye West The Wise</td>
                <td class="bordered">Council Member</td>
                <td class="bordered">2025.02.06</td>
                <td class="bordered">Fire Martial Magic</td>
                <td class="bordered">Men</td>
                <td class="bordered">1977.06.08</td>
                <td class="bordered">47</td>
            </tr>
        </table>
    </div>
</body>
</html>